<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="image" [style.background-image]="safeUrl((bar|async)?.picture)">
      <h1 class="caption">{{(bar|async)?.name}}</h1>
    </div>
    <ion-card-content>
      <ion-item>
        <ion-icon name="compass" item-start large></ion-icon>
        <h2>
          <a href="http://maps.google.com/maps?daddr={{(bar|async)?.adress}}">{{(bar|async)?.adress}}</a>
        </h2>
        <p>
          {{(bar|async)?.distance | number:'1.1-1'}} km - {{(bar|async)?.time | number:'1.0-0'}} minutes
        </p>
      </ion-item>
      <ion-list>
        <ion-list-header>
          <ion-icon name="time" item-start large></ion-icon>
          Horaires
          <ion-badge item-end color="primary" *ngIf="(bar|async)?.schedule.getIsOpenNow(timeService.time|async)">Ouvert</ion-badge>
          <ion-badge item-end color="danger" *ngIf="!(bar|async)?.schedule.getIsOpenNow(timeService.time|async)">Fermé</ion-badge>
        </ion-list-header>
        <ion-item *ngFor="let day of (bar|async)?.schedule.days" [color]="(day.isToday) ? 'primary' : ''">
          <span item-start>{{day.label}}</span>
          <span item-end>{{day.hoursFormat}}</span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>