page-home {
    .card-background-page {
        
          ion-card {
            position: relative;
            text-align: center;
            height: 30vh;
            background-position: center;
            background-size: cover;
            
            margin: 4px;
            width: calc(100% - 8px);
          }
        
          .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            bottom: 0;
            width: 100%;
            color: #fff;
            padding: 4px;

            .distance {
              float: left;
            }
            .time {
              position: absolute;
              width: 100%;
              text-align: center;
            }
            .status {
              float: right;
            }
          }
        
        }
        agm-map {
            height: calc(100vh - 56px);
        }

        #meeting-badge {
          position: absolute;
          top: 0px;
          right: 0px;
       }
      .fab {
        overflow: inherit;
        ion-badge {
          background:  Black;
          border-radius: 12px;
          padding: 8px;
        }
      }
}
