<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bars</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="toggleMapDisplay()">
        <ion-icon name="map" *ngIf="!isModeMap"></ion-icon>
        <ion-icon name="albums" *ngIf="isModeMap"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-refresher (ionRefresh)="refreshPosition($event)" [enabled]="!isModeMap">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div [style.display]="isModeMap ? 'inherit' : 'none'">
    <agm-map [styles]="mapStyles" [fitBounds]="mapBounds | async" [zoom]="14" [latitude]="(position | async)?.latitude" [longitude]="(position | async)?.longitude">
      <agm-marker [latitude]="(position | async)?.latitude" [longitude]="(position | async)?.longitude" [iconUrl]="'http://mt.google.com/vt/icon?color=ff004C13&name=icons/spotlight/spotlight-waypoint-blue.png'"></agm-marker>
      <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker *ngFor="let bar of bars | async" [latitude]="bar.latitude" [longitude]="bar.longitude" (markerClick)="openBarPage(bar.id)"></agm-marker>
      </agm-marker-cluster>
    </agm-map>
  </div>
  <div [style.display]="!isModeMap ? 'inherit' : 'none'">
    <ion-card *ngFor="let bar of (barsDisplayed | async)" [style.background-image]="safeUrl(bar.picture)" (click)="openBarPage(bar.id)">
      <div class="card-title">{{bar.name}}</div>
      <div class="card-subtitle">
        {{(bar.distance) | number:'1.1-1'}} km - {{(bar.time) | number:'1.0-0'}} minutes
        <ion-badge item-end color="primary" *ngIf="bar.schedule.isOpenNow|async">Ouvert</ion-badge>
        <ion-badge item-end color="danger" *ngIf="!(bar.schedule.isOpenNow|async)">Fermé</ion-badge>
      </div>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="isLazyLoadingAvailable | async">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>