<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Fermer</span>
                <ion-icon name="checkmark-circle-outline" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Se retrouver</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-list-header>
            Entrez vos adresses pour trouver un point de rendez-vous :
        </ion-list-header>
            <place-autocomplete *ngFor="let place of placesService?.places" [place]="place"></place-autocomplete>
    </ion-list>
    <ion-fab bottom left>
      <button ion-fab (click)="removeMeeting()" *ngIf="placesService?.places.length > 2">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab bottom center>
      <button ion-fab (click)="addMeeting()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab bottom right>
      <button ion-fab (click)="clearMeeting()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-fab>
</ion-content>